<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <span class="uk-margin-small-right" uk-icon="users"></span>
    <p>Total user's: {{userCount}}</p>
    <span class="uk-margin-small-right" uk-icon="location"></span>
    <p>Total PoI's: {{poiCount}}</p>
    <span class="uk-margin-small-right" uk-icon="camera"></span>
    <p>Total Images: {{imageCount}}</p>
</div>