<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Point of Interest Web App" subTitle="Update Walk details"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Walk Details: </h3>
                {{> update-poi-form}}
            </div>
            <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
                {{> upload-image}}
            </div>
        </div>
    </div>
</div>


